<% content_for(:title, 'Edit user') %>
<h1>Update your profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
      <%= render 'form_fields', f: f %>
      <%= f.submit 'Update my account', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= gravatar_for @user %>
    <%= link_to 'change', 'https://gravatar.com/emails', target: '_blank' %>
  </div>
</div>
